<div class="row">
  <div class="col-12 bannier d-flex" style="background-image: url(<%= cl_image_path @list.photo.key %>);">
    <h1 ><%= @list.name %></h1>
  </div>
</div>



<div class="container">
  <% @list.movies.each do |movie| %>
    <div class="row">
      <div class="card-product col-8 mx-auto">
      <img src=<%= movie.poster_url %> />
      <div class="card-product-infos">
        <h2><%= movie.title %></h2>
        <p><%= movie.overview %></p>
        <div class='comment'>comment</div>
        <p><%= movie.bookmarks.first.comment %></p>
        <div class="rating">
          <p>ratings</p>
          <h4><%= movie.rating %></h4>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <%= link_to "add a new comment", new_list_bookmark_path(@list), class: "btn btn-primary add-comment col-6 mx-auto mt-4"%>
  </div>

</div>
