<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar d-flex justify-content-between">
      <img src="https://picsum.photos/40/40" alt="avatar" class="avatar">
      <div style="margin-right: 50px;">
        <%= link_to "new List", new_list_path, class: "btn btn-light" %>
        <%= link_to "My Lists", lists_path, class: "btn btn-light" %>
      </div>
    </div>
    <div class="space"></div>

    <%= yield %>
  </body>
</html>
